/* #06212D
#096076
#C1B8C6
#1BA59C
#3E77A4
 */
:root {
  /*colors */
  --hue-primary: 194;
  --hue-secondary: 279;
  --hue-tertiary: 206;
  --hue-anchor: 206;
  
  --saturation-primary: 86%;
  --saturation-secondary: 11%;
  --saturation-tertiary: 45%;

  --lightness-primary: 25%;
  --lightness-secondary: 75%;
  --lightness-tertiary: 44%;

  --color-primary: hsl(var(--hue-primary),var(--saturation-primary),var(--lightness-primary));
  --color-secondary: hsl(var(--hue-secondary),var(--saturation-secondary),var(--lightness-secondary));
  --color-tertiary: hsl(var(--hue-tertiary),var(--saturation-tertiary),var(--lightness-tertiary));

  --color-white: hsl(0,100%,100%);
  --color-black: hsl(0,10%,10%);
  --color-grey: rgb(143, 143, 143);
  --color-lighter-grey: rgb(243, 243, 243);
  --color-light-grey: rgb(207, 207, 207);
  --color-dark-grey: rgb(104, 104, 104);
  --color-darker-grey: rgb(80, 80, 80);

  --color-page: var(--color-black);
  --color-text-general: var(--color-white);
  --color-text-inverted: var(--color-black);
  --color-border: var(--color-dark-grey);
  --color-border-input: var(--color-grey);
  --color-bg-input: var(--color-dark-grey);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-text-general);
  background-color: var(--color-page);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ============ RESET CSS ==================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ========== FIN RESET CSS ================== */

/* ========== CUSTOM DEFAULT CSS ================== */
a {
  font-weight: 500;
  color: hsla( var(--hue-anchor), 60%, 60%);
  text-decoration: inherit;
}
a:hover {
  color: hsla( var(--hue-anchor), 40%, 55%);
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-primary);
}

/* ========== FIN CUSTOM DEFAULT CSS ================== */




/* ========== THEME LIGHT ================ */
@media (prefers-color-scheme: light) {
  :root {
    --color-page: var(--color-white);
    --color-text-general: var(--color-black);
    --color-text-inverted: var(--color-white);
    --color-border: var(--color-light-grey);
    --color-bg-input: var(--color-lighter-grey);
  }
}
/* ========== FIN THEME LIGHT ================ */
